/* .pageWrapper {
	position: absolute;
	float: left;
	-webkit-font-smoothing: antialiased;
} */


.pageFace {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	/* border-top-right-radius: 2%; */
}

.front {
	background: linear-gradient(to right, #d9d9d9 0%, #f9f9f9 3%, #ffffff 8%, #ffffff 100%);
	border-top-right-radius: 3%;
	border-bottom-right-radius: 3%;
}

.back {
	background: linear-gradient(to right, #ffffff 0%, #ffffff 92%, #f9f9f9 97%, #d9d9d9 100%);
	border-top-left-radius: 3%;
	border-bottom-left-radius: 3%;
}

.pageFoldRight {
	position: absolute;
	width: 0px;
	height: 0px;
	top: 0;
	right: 0;
	border-left-width: 1px;
	border-left-color: #DDDDDD;
	border-left-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #DDDDDD;
	border-bottom-style: solid;
	box-shadow: -5px 5px 10px #dddddd;
}

.pageFoldLeft {
	position: absolute;
	width: 0px;
	height: 0px;
	top: 0;
	left: 0;
	border-right-width: 1px;
	border-right-color: #DDDDDD;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #DDDDDD;
	border-bottom-style: solid;
	box-shadow: 5px 5px 10px #dddddd;
}

.overview-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-content {
	background: white;
	padding: 20px;
	border-radius: 8px;
	max-width: 80%;
	max-height: 80%;
	/* overflow-y: auto; */
	overflow: 'unset';
	position: relative;
}

.images-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	gap: 10px;
}

.overview-image {
	width: 100%;
	height: auto;
	cursor: pointer;
	transition: transform 0.3s;
}

.overview-image:hover {
	transform: scale(1.1);
}

.closs-icon:hover {
	transform: scale(1.5);
	/* Adjust the scale factor as needed */
	transition: transform 0.2s ease-in-out;
	/* Smooth transition */
}