.custom-btn {
  height: 50px;
  width: 100px;
}

.shadow-layer {
  opacity: 1;
  margin-top: 10%;
  margin-left: 10%;
}

.custom-button:hover .shadow-layer {
  transition:
    opacity,
    margin-top,
    margin-left 0.3s ease-in-out;
  opacity: 0;
  margin-top: 0;
  margin-left: 0;
}

.bg-layer {
  opacity: 0;
}

.custom-button:hover .bg-layer {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  transition-delay: 0.05s;
}

.text-layer {
  text-align: center;
  vertical-align: middle;
}

.custom-button:hover .text-layer {
  color: white;
  transition: color 0.2s ease-in-out;
  transition-delay: 0.05s;
}

/* 四縣腔 (green) */
.sixian .shadow-layer,
.sixian .bg-layer {
  background-color: green;
}

.sixian .text-layer {
  color: green;
}

/* 海陸腔 (blue) */
.hailu .shadow-layer,
.hailu .bg-layer {
  background-color: blue;
}

.hailu .text-layer {
  color: blue;
}

/* quiz (orange) */
.quiz .shadow-layer,
.quiz .bg-layer {
  background-color: orange;
}

.quiz .text-layer {
  color: orange;
}
