.navbar-custom {
  background-color: var(--light-blue);
  min-height: 43px;
}

.offcanvas-custom {
  background-color: var(--light-blue);
}

.navbar.hidden {
  transform: translateY(-100%); /* Slide up out of view */
}

.nav > img:hover {
  cursor: pointer;
}

.dropdown-item svg {
  margin-left: 10px;
}

.logo-image:hover {
  cursor: pointer;
}

.navbar-toggler:focus,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.dropdown-menu .list-group-item {
  margin-bottom: 5px;
  color: #6c757d;
}

.dropdown-menu .list-group-item:hover {
  color: black;
}

#login-logout-btn {
  cursor: pointer;
}

.person-icon {
  cursor: pointer;
  color: gray;
  border-radius: 50%;
}

.person-icon:hover {
  color: black;
}

.person-image-container {
  height: 30px;
  width: 30px;
}

.person-image-container:hover {
  cursor: pointer;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

/*Without this, clicking will make it sticky*/
/* .dropdown > .dropdown-toggle:active {
  pointer-events: none;
} */

/* Small devices (landscape phones, less than 992px) */
@media (max-width: 992px) {
  .offcanvas-custom {
    max-width: 70%;
  }

  .dropdown-menu {
    margin-bottom: 10px;
  }
}
