.navbar-custom {
    background-color: var(--light-blue);
    height: 8%;
}
  
.custom-container {
    height: 92%;
}
  
.offcanvas-custom {
    background-color: var(--light-blue);
}
  
.navbar.hidden {
    transform: translateY(-100%); /* Slide up out of view */
}

.dropdown-item svg {
    margin-left: 10px;
}