body {
  background-image: url('./assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-custom {
  background-color: #e4f3f4;
}
