:root {
  --light-blue: #e4f3f4; /* Define the color alias */
}

* {
  box-sizing: border-box;
}

.main-container {
  background-image: url('./assets/background5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: auto;
}

.custom-container {
  height: 92%;
  color: white;
}

.custom-text {
  color: white;
  text-shadow: 5px 5px #558abb;
}
